a.lang-action{padding: 2px 10px!important;color: #05788d;}
.active-lang {color: #FFF!important;background: #05788d;}
.bgimg-1
{
    background-position: center;
    background-size: cover;
    height: 79vh;
    min-height: 70vh;
}
.mySlides {display:none}

.font{
    font-family: 'Domine', serif;
}
.equalimages
{
    height: 264px;;
    max-height:264px;
}

.fontsmall
{
    font-size: 15px;
    color: #055677;

}
.centering{
    background-color:#3eb2d8;
    display: block;
    margin-left: auto;
    margin-right: auto 
}

.callout {
    z-index: 3;
    position: fixed;
    bottom: 35px;
    right: 20px;
    margin-left: 20px;
    max-width: 300px;
  }
  
  .callout-header {
    padding: 25px 15px;
    background: #3eb2d8;
    font-size: 20px;
    color: black;
  }
  
  .callout-container {
    padding-bottom: 10px;
    background-color:#3eb2d8;
    color: white;
  }
  
  .closebtn {
    position: absolute;
    top: 0px;
    right: 0px;
    color: black;
    font-size: 21px;
    cursor: pointer;
  }
.sameimg
{
    max-height: 820px;
}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .3s ease;
    background-color: transparent;
  }
.container:hover .overlay 
{
    opacity: 1;
}
.icon 
{
    color: white;
    font-size: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    cursor: pointer; 
}
.marquee { padding: 6px 0px 0px 0px; width: 100%;margin: 0 auto;overflow: hidden;white-space: nowrap;box-sizing: border-box; animation: marquee  linear infinite; -webkit-animation: marquee 50s linear infinite;}
@-webkit-keyframes marquee {
    0%   { text-indent: 27.5em }
    100% { text-indent: -105em }
}

/* Make it move */
@keyframes marquee {
    0%   { text-indent: 27.5em }
    100% { text-indent: -105em }
}

.marquee:hover {animation-play-state: paused}
