<!DOCTYPE html>
<html>
<title>PVC Directo - Bem vindo!</title>
<style>.mySlides {display:none;}</style>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="PVC, Algarve, Doors, Windows, janela de pvc,cortinas de vidro, estores de rolo, aluminios, caixilharia">
    <meta name="description" content="portas pvc, portões, janelas, janela de pvc, janelas em alumínio, carpintaria, estores, vidros, ferragens, redes mosquiteiras, vitrais, jardins de inverno,">
    <link rel="stylesheet" href="css/w3.css">
    <link href="css/aos.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Domine" rel="stylesheet"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="css/css.css" rel="stylesheet"> 
    <script src="js/jquery.min.js"></script>
    <script src="js/tether.min.js"></script>
    <script src="js/all.js"></script>
    <script src="js/aos.js"></script>

</head>
    <body>
        {% include 'images/navbar.php' %}
        {% include 'images/card.html.twig' %}
        {% include 'home/footer.php'%}
    </body>
    <script>
// Script to open and close sidebar
function w3_open() {
    document.getElementById("mySidebar").style.display = "block";
    document.getElementById("myOverlay").style.display = "block";
}
function w3_close() {
    document.getElementById("mySidebar").style.display = "none";
    document.getElementById("myOverlay").style.display = "none";
}

var slideIndex = 1;
showDivs(slideIndex);

function plusDivs(n) {
  showDivs(slideIndex += n);
}

function showDivs(n) {
  var i;
  var x = document.getElementsByClassName("mySlides");
  if (n > x.length) {slideIndex = 1}    
  if (n < 1) {slideIndex = x.length}
  for (i = 0; i < x.length; i++) {
     x[i].style.display = "none";  
  }
  x[slideIndex-1].style.display = "block";  
}

</script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-130884555-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-130884555-1');
</script>
</html>
